@page "/Error/{errorStatusCode:int?}"
@model JGUZDV.PasskeyAuth.Pages.ErrorModel;

<body>
    <div id="app" class="jbs-app">
        <div class="px-2 d-flex flex-column align-items-center justify-content-center" style="min-height: 100dvh;">
            <div>
                <img src="https://cdn.zdv.uni-mainz.de/web/assets/logo_uni-mainz_quader.svg" style="height: 140px;" class="me-1" />
                <img src="/img/passkey-logo.svg" alt="passkeyLogo" style="height: 140px; aspect-ratio: 1" class="bg-jgu-red pt-3 pb-2" /><br />
            </div>
            <div class="mt-2 h1">
                🙁
            </div>
            <div class="mt-2">
                @Model.ErrorMessage
            </div>
        </div>
    </div>
</body>
