@page "/"
@model JGUZDV.PasskeyAuth.Pages.IndexModel;

@{
    var useAutoInit = Model.AutoInitPasskey && !string.IsNullOrWhiteSpace(Model.ReturnUrl);
}

<body data-passkey-initiator-url="/passkey" data-passkey-autostart="@(useAutoInit ? "true" : null)">
    <div id="app" class="jbs-app">
        <div class="px-2 d-flex flex-column align-items-center justify-content-center" style="min-height: 100dvh;">
            <div>
                <img src="/img/passkey-logo.svg" alt="passkeyLogo" style="height: 200px; aspect-ratio: 1" />
            </div>

            <div class="mt-2">
                <button id="passkey-initiator" class="btn btn-light @(useAutoInit ? "d-none":null)">
                    Mit Passkey anmelden
                </button>
            </div>

            <status-message class="mt-2" id="status-message" message-key=""></status-message>

            <form id="auth-form" name="auth-form" asp-route="passkey-auth" method="post">
                <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl" />
                <input type="hidden" id="assertion-response" name="WebAuthNAssertionResponseJson" />
            </form>

            <div class="mt-4">
                <img src="https://cdn.zdv.uni-mainz.de/web/assets/logo_uni-mainz_grey.svg" style="height: 100px;" class="py-2" />
            </div>
        </div>
    </div>

    <script defer src="/ts/Index.js" type="module"></script>
</body>
