@page
@model JGUZDV.PasskeyAuth.Pages.InfoModel;

@if(User.Identity?.IsAuthenticated == true)
{
    <div class="alert alert-success d-flex flex-column align-items-center justify-content-center">
        <div class="mt-2 fs-1">✅</div>
        <div class="mt-2">Die Anmeldung mit Ihrem Passkey war erfolgreich</div>

        <div class="mt-2">@User.FindFirst("upn")!.Value</div>
        <div class="mt-2 font-monospace">@User.FindFirst("fido2_cred_id")!.Value</div>
    </div>
}

<h1>Passkey-Anmeldedaten</h1>
<pre>
    @string.Join("\r\n", Model.User.Claims.Select(x => $"{x.Type}: {x.Value}"))
</pre>
