.passkey-capable, .passkey-incapable {
    display: none;
}

[data-passkey-capable="false"] {
    .passkey-incapable {
        display: block;
    }
}


[data-passkey-capable="true"] {
    .passkey-capable {
        display: block;
    }
}
