.passkey-capable, .passkey-incabable {
    display: none;
}

[data-passkey-capable="false"] {
    .passkey-capable {
        display: none;
    }

    .passkey-incabable {
        display: block;
    }
}


[data-passkey-capable="true"] {
    .passkey-capable {
        display: block;
    }

    .passkey-incabable {
        display: none;
    }
}
