body {
    min-height: 100dvh;
    display: grid;

    place-content: center;
}

.content {
    max-width: 400px;
    width: 100%;

    .imgs {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;

        .brand {
            width: 100%;
        }

        .logo {
            max-height: 150px;
            min-height: 50px;
            height: 20dvh;
            aspect-ratio: 1;
        }
    }
}

.passkey-capable, .passkey-incapable {
    display: none;
}

[data-passkey-capable="false"] {
    .passkey-incapable {
        display: block;
    }
}


[data-passkey-capable="true"] {
    .passkey-capable {
        display: block;
    }
}
